@use "./abstracts/index" as *;

/* base */
@use "./base/reset" as *;

/* component */
@use "./components/card";

body {
  min-height: 100vh;
  font-family: $font-family;
  font-weight: $FW-400;
  line-height: $line-height-base;
  background-color: $Stone-100;
  font-size: font-size("base");
}

h3 {
  color: $Brown-800;
  font-family: $font-familyTitle;
  font-size: 1.5rem;
  margin-bottom: space("md");
}

ul,
ol {
  padding-left: space("md") + space("xs");
  li {
    position: relative;
    padding-left: space("sm") + space("xs");
      margin-top: space("sm") + space("xs");
    &::marker {
      position: absolute;
      left: 0;
      color: $Brown-800;
      font-weight: $FW-700;
      font-size: font-size("sm");
    }
  }
}
